<div class="row justify-content-center align-items-center loginForm">
  <form class="col-md-12 box" [formGroup]="form" (ngSubmit)="submit()">
    <fieldset>
      <legend>Register</legend>

      <div class="form-group row">
        <mat-form-field>
          <mat-label>First name:</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last name:</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </div>


      <div class="form-group row">
        <mat-form-field>
          <mat-label>Email:</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field>
      </div>

      <div class="form-group row">
        <mat-form-field>
          <mat-label>Password:</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>

      <div class="form-group row">
        <mat-form-field>
          <mat-label>Repeat password:</mat-label>
          <input matInput type="password" formControlName="repeatPassword">
        </mat-form-field>
      </div>

      <div class="form-group row">
        <mat-form-field>
          <mat-label>JMBG:</mat-label>
          <input matInput formControlName="jmbg">
        </mat-form-field>
      </div>

      <div class="row">
        <button mat-raised-button type="submit" [disabled]="form.invalid">Submit</button>
      </div>


    </fieldset>
  </form>

</div>
