<p color="white">zahtev radiii works!</p>

<form class="my-form"  [formGroup]="formaPodaci" (submit)="onSubmit()">
    <div class="container">
      <h1 class="naslov">Zahtev za izdavanje digitalnog zelenog sertifikata</h1>
      <ul>
        <!--<li > 
            <select>
                <option selected disabled>-- Please choose an option --</option>
                <option>Request Quote</option>
                <option>Send Resume</option>
                <option>Other</option>      
            </select>
            <br>
        </li> -->   
        
        <li>
            <div >
                <div>
                    <span>
                        <label for ="name">   Datum rodjenja: </label> 
                        <br>
                        <input type="date" placeholder="datum rodjenja" id ="datumRodjenja" formControlName="datumRodjenja" required>
                        <!--<small
                            class="text-danger"
                            *ngIf="
                                 itemForm.controls.itemName.touched &&
                                 itemForm.controls.itemName.errors?.required &&
                                 itemForm.controls.itemName.errors?.minlength                                 ">
                                 Item name is required..
                        </small>-->
                    </span>
                    
                </div>
            <br/>
            </div>
        </li>

        <li>
            <div class="grid grid-2">
                <div >
                    <div>
                        <span>
                            <label for ="name">   Ime: </label> 
                            <br>
                            <input type="text" placeholder="ime" id ="ime" formControlName="ime" required>
                            <!--<small
                                class="text-danger"
                                *ngIf="
                                     itemForm.controls.itemName.touched &&
                                     itemForm.controls.itemName.errors?.required &&
                                     itemForm.controls.itemName.errors?.minlength                                 ">
                                     Item name is required..
                            </small>-->
                        </span>
                        
                    </div>
                </div>
    
                <div >
                    <div>
                        <span>
                            <label for ="name">   Prezime: </label> 
                            <br>
                            <input type="text" placeholder="prezime" id ="prezime" formControlName="prezime" required>
                            <!--<small
                                class="text-danger"
                                *ngIf="
                                     itemForm.controls.itemName.touched &&
                                     itemForm.controls.itemName.errors?.required &&
                                     itemForm.controls.itemName.errors?.minlength                                 ">
                                     Item name is required..
                            </small>-->
                        </span>
                        
                    </div>
                <br/>
                </div>
            </div>

        </li>

        <li>
            <div class="grid grid-2">
                <div >
                    <div>
                        <span>  
                            <label> JMBG: </label> 
                            <br>
                            <input type="text" placeholder="jmbg" id ="jmbg" formControlName="jmbg" required>
                            <!--<small
                                class="text-danger"
                                *ngIf="
                                     itemForm.controls.itemName.touched &&
                                     itemForm.controls.itemName.errors?.required &&
                                     itemForm.controls.itemName.errors?.minlength                                 ">
                                     Item name is required..
                            </small>-->
                        </span>
                        
                    </div>
                </div>
    
                <div >
                    <div>
                        <span>
                            <label for ="name">  Broj pasosa: </label> 
                            <br>
                            <input type="text" placeholder="broj pasosa" id ="brojPasosa" formControlName="brojPasosa" required>
                            <!--<small
                                class="text-danger"
                                *ngIf="
                                     itemForm.controls.itemName.touched &&
                                     itemForm.controls.itemName.errors?.required &&
                                     itemForm.controls.itemName.errors?.minlength                                 ">
                                     Item name is required..
                            </small>-->
                        </span>
                        
                    </div>
                <br/>
                </div>
            </div>

        </li>
         

        <!--<li>
            <p>Pol: </p>

            <input type="radio" id="polZenski" name="polJeZenski" value="ZENSKI" 
                formControlName="polJeZenski"  
                
                (change)="handleChangeRadioButton($event)" >
            <label for="polZenski">zenski</label>
            
            <input type="radio" id="polMuski" name="polJeMuski" value="MUSKI" 
                formControlName="polJeMuski" 
                
                (change)="handleChangeRadioButton($event)" >
            <label for="polMuski">muski</label><br>
              
        </li>-->

        <li>
            <p>Pol:  </p>

            <input type="radio" id="polMuski" name="polMuski" value="MUSKI" 
                formControlName="polMuski"  
                
                (change)="handleChangeRadioButton($event)" >
            <label for="polMuski">muski</label>
            
            <input type="radio" id="polZenski" name="polZenski" value="ZENSKI" 
                formControlName="polZenski" 
                
                (change)="handleChangeRadioButton($event)" >
            <label for="polZenski">zenski</label><br>
              
        </li>

        <div id="razlog">
        </div>
        
        <li>
            <div >
                <!--class="grid grid-3-->
                <button class="btn-grid" type="submit" 
                
                >
                  
                  Submit
                </button>
            </div>
        </li>
         
      </ul>
    </div>
  </form>
