<p color="white">interesovanje works!</p>

<form class="my-form"  [formGroup]="itemForm" (submit)="onSubmit()">
    <div class="container">
      <h1 class="naslov">Iskazivanje interesovanja za vakcinisanje protiv COVID-19</h1>
      <ul>
        <!--<li > 
            <select>
                <option selected disabled>-- Please choose an option --</option>
                <option>Request Quote</option>
                <option>Send Resume</option>
                <option>Other</option>      
            </select>
            <br>
        </li> -->   
        <li>

            <div>
                <span>
                    
                    <label for="drzavljanstvo">Drzavljanstvo: </label><br />
                    <select id="drzavljanstvoDok" formControlName="drzavljanstvo" (change)="selectChangeHandlerDrzavljanstvo($event)" >
                        <option selected value="" ></option>
                        <option *ngFor="let d of drzavljanstvo" 
                            [value]="d">
                            {{d}}
                        </option>
                    </select> 

                    <!--<small
                        class="text-danger"
                        *ngIf="
                             itemForm.controls.category.touched &&
                             itemForm.controls.itemName.errors?.required">
                             Selecting category is required..
                    </small>-->
                    
                </span>
                
            </div>
                
        </li> 
        
        <li>
            <div >
                <div>
                    <span>
                        <label for ="name">   JMBG: </label> 
                        <br>
                        <input type="text" placeholder="jmbg" id ="jmbg" formControlName="jmbg" required>
                        <!--<small
                            class="text-danger"
                            *ngIf="
                                 itemForm.controls.itemName.touched &&
                                 itemForm.controls.itemName.errors?.required &&
                                 itemForm.controls.itemName.errors?.minlength                                 ">
                                 Item name is required..
                        </small>-->
                    </span>
                    
                </div>
            <br/>
            </div>
        </li>

        <li>
            <div class="grid grid-2">
                <div >
                    <div>
                        <span>
                            <label for ="name">   Ime: </label> 
                            <br>
                            <input type="text" placeholder="ime" id ="ime" formControlName="ime" required>
                            <!--<small
                                class="text-danger"
                                *ngIf="
                                     itemForm.controls.itemName.touched &&
                                     itemForm.controls.itemName.errors?.required &&
                                     itemForm.controls.itemName.errors?.minlength                                 ">
                                     Item name is required..
                            </small>-->
                        </span>
                        
                    </div>
                </div>
    
                <div >
                    <div>
                        <span>
                            <label for ="name">   Prezime: </label> 
                            <br>
                            <input type="text" placeholder="prezime" id ="prezime" formControlName="prezime" required>
                            <!--<small
                                class="text-danger"
                                *ngIf="
                                     itemForm.controls.itemName.touched &&
                                     itemForm.controls.itemName.errors?.required &&
                                     itemForm.controls.itemName.errors?.minlength                                 ">
                                     Item name is required..
                            </small>-->
                        </span>
                        
                    </div>
                <br/>
                </div>
            </div>

        </li>

        <li>
            <div class="grid grid-2">
                <div >
                    <div>
                        <span>
                            <label for ="name">   Adresa elektronske poste: </label> 
                            <br>
                            <input type="text" placeholder="email" id ="email" formControlName="email" required>
                            <!--<small
                                class="text-danger"
                                *ngIf="
                                     itemForm.controls.itemName.touched &&
                                     itemForm.controls.itemName.errors?.required &&
                                     itemForm.controls.itemName.errors?.minlength                                 ">
                                     Item name is required..
                            </small>-->
                        </span>
                        
                    </div>
                </div>
    
                <div >
                    <div>
                        <span>
                            <label for ="name">  Lokacija za primanje vakcine: </label> 
                            <br>
                            <input type="text" placeholder="naziv opstine" id ="lokacija" formControlName="lokacija" required>
                            <!--<small
                                class="text-danger"
                                *ngIf="
                                     itemForm.controls.itemName.touched &&
                                     itemForm.controls.itemName.errors?.required &&
                                     itemForm.controls.itemName.errors?.minlength                                 ">
                                     Item name is required..
                            </small>-->
                        </span>
                        
                    </div>
                <br/>
                </div>
            </div>

        </li>

        <li>
            <div class="grid grid-2">
                <div >
                    <div>
                        <span>
                            <label for ="name">   Broj mobilnog telefona: </label> 
                            <br>
                            <input type="text" placeholder="format 06X bez crtica i razmaka" id ="brojMobilnog" formControlName="brojMobilnog" required>
                            <!--<small
                                class="text-danger"
                                *ngIf="
                                     itemForm.controls.itemName.touched &&
                                     itemForm.controls.itemName.errors?.required &&
                                     itemForm.controls.itemName.errors?.minlength                                 ">
                                     Item name is required..
                            </small>-->
                        </span>
                        
                    </div>
                </div>
    
                <div >
                    <div>
                        <span>
                            <label for ="name">  Broj fixnog telefona: </label> 
                            <br>
                            <input type="text" placeholder="format npr 011.. bez crtica i razmaka" id ="brojFixnog" formControlName="brojFixnog" required>
                            <!--<small
                                class="text-danger"
                                *ngIf="
                                     itemForm.controls.itemName.touched &&
                                     itemForm.controls.itemName.errors?.required &&
                                     itemForm.controls.itemName.errors?.minlength                                 ">
                                     Item name is required..
                            </small>-->
                        </span>
                        
                    </div>
                <br/>
                </div>
            </div>

        </li>

        <li>
            <div class="grid grid-2">
                <div>
                    <span>
                        <label for ="proizvodjaciVakcine"> Izaberite proizvodjace vakcine koju zelite da primite: </label> 
                        <br>

                        <select id="proizvodjaciVakcine" formControlName="proizvodjaciVakcine" (change)="selectChangeHandlerProizvodjaciVakcine($event)" multiple>
                            <option selected value="" ></option>
                            <option *ngFor="let p of proizvodjaciVakcine" 
                                [value]="p">
                                {{p}}
                            </option>
                        </select> 
                    </span>
                    
                </div>
                <br>
               
               
            </div>
            <br>
        </li>  

        <li>
            <p>Da li ste dobrovoljni davalac krvi? </p>

            <input type="radio" id="davalacKrviDa" name="davalacKrviDa" value="DA" 
                formControlName="davalacKrviDa"  
                
                (change)="handleChangeRadioButton($event)" >
            <label for="davalacKrviDa">da</label>
            
            <input type="radio" id="davalacKrviNe" name="davalacKrviNe" value="NE" 
                formControlName="davalacKrviNe" 
                
                (change)="handleChangeRadioButton($event)" >
            <label for="davalacKrviNe">ne</label><br>
              
        </li>

        <li>
            <div >
                <!--class="grid grid-3-->
                <button class="btn-grid" type="submit" 
                [disabled]="itemForm.invalid"
                >
                  
                  Submit
                </button>
            </div>
        </li>
         
      </ul>
    </div>
  </form>
